In [1]:
import pandas as pd

In [53]:
d = {'lec_id': ['a', 'b','c','d','e','b'], 'value': [3, 4,5,3,4,10]}
df = pd.DataFrame(data=d)

In [54]:
df

  lec_id  value
0      a      3
1      b      4
2      c      5
3      d      3
4      e      4
5      b     10

In [55]:
print("please enter lecture id")
lec  =  input()

please enter lecture id
b

In [56]:
matched_list = df['lec_id'].str.contains(lec)

In [57]:
matched_list

0    False
1     True
2    False
3    False
4    False
5     True
Name: lec_id, dtype: bool

In [62]:
new1_df = pd.DataFrame(columns=df.columns.values)
print(new1_df)
for i in range(0,len(matched_list)):
    if(matched_list[i]==True):
        print(df.loc[[i]])
        new1_df= pd.concat([new1_df,df.loc[[i]]])

Empty DataFrame
Columns: [lec_id, value]
Index: []
  lec_id  value
1      b      4
  lec_id  value
5      b     10

In [63]:
new1_df

  lec_id value
1      b     4
5      b    10